.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
terraform.tfvars.json
test.js
test.json
test_huawei.json
node_modules/
/.vscode
package.json
package-lock.json